---
Language: Cpp
BasedOnStyle: Google
Standard: c++17
ColumnLimit: 96
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
IncludeBlocks: Regroup
